@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Este site é destinado a consulta de atas de registro de preço</p>
</div>

