@{
    ViewData["Title"] = "Consulta de Atas";
    Layout = "_Layout";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title font-weight-bold m-1">Área de consulta</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-1">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary p-0 my-0 mr-2"><i class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                    </div>
                    <div class="justify-content-center col-sm-10">
                        <h3 class="font-weight-bold my-1 section-title text-center">Consulta de Ata</h3>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-sm-6 col-md-2">
                        <label class="control-label">Número da Ata</label>
                        <input type="text" id="numAta" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6 col-md-2">
                        <label class="control-label">Ano da Ata</label>
                        <input type="text" id="anoDaAta" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label">Descrição da Ata</label>
                        <input type="text" id="descricaoDaAta" class="form-control" />
                    </div>
                    <div class="checkbox pt-5 ml-5" style="margin-top:50px">
                        <label>
                            <input type="checkbox" id="checkAdesao" name="adesao" value="true"><span class="checkbox-material"><span class="check"></span></span> Disponibilidade de Adesão
                        </label>
                    </div>
                </div>
                <div class="row justify-content-end mr-5">
                    <button class="btn btn-raised btn-primary" value="Efetuar Consulta" onclick="BuscarAtas()">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="resultadoListaAtas">

</div>


@section Scripts {
    <script src="~/js/ConsultaAta.js"></script>
}